[submodule "plugins/crudViews"]
	path = plugins/crudViews
	url = https://github.com/OrigamiStructures/crudViews.git
[submodule "plugins/Geshi"]
	path = plugins/Geshi
	url = https://github.com/OrigamiStructures/Geshi.git
